<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: today</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my 1st post.</p>
        </div>

        <div>
            <p>published: today</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my 2nd post.</p>
        </div>

        <div>
            <p>published: today</p>
            <h2><a href="">My third post</a></h2>
            <p>This is my 3rd post.</p>
        </div>
    </body>
</html>